.container .item {
    border : 2px solid black;
}

html,
body {
    height : 100%;
}

.container {
    width : 100%;
    height : 100%; /* height : 자신의 부모 높이(=body) => 높이를 브라우저 창 전체를 차지하는 방법 : 100vh */
    display: grid;
    grid-template-columns: 3fr 7fr; /* = 30% 70% */
    grid-template-rows : 4fr 6fr;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* * 시험문제 : middle이 아니라 center * */
}

.item1 {
    background-color: pink;
}

.item2 {
    background-color: skyblue;
}

.item3 {
    background-color: brown;
}

.item4 {
    background-color: aliceblue;
}